<div class="bg-off-white px-4 py-2 rounded-[10px] w-[140px]">
  <div class="flex justify-between items-center gap-2">
    <div class="w-full">
      <!-- Use ngModel for two-way data binding -->
      <input
        class="text-dark-navy body-1 w-full py-2 bg-transparent outline-none"
        name="input"
        [(ngModel)]="value"
        type="number"
        (input)="handleChange($event)"
      />
    </div>
    <div class="flex flex-col gap-2">
      <div class="cursor-pointer" (click)="increment()">
        <small-icon
          [iconType]="arrowUpIcon"
          [width]="15"
          [height]="10"
          color="#1E213F"
          [opacity]="0.25"
          [hoverOpacity]="1"
          [disabled]="value == max"
        ></small-icon>
      </div>
      <div class="cursor-pointer" (click)="decrement()">
        <small-icon
          [iconType]="arrowDownIcon"
          [width]="15"
          [height]="10"
          color="#1E213F"
          [opacity]="0.25"
          [hoverOpacity]="1"
          [disabled]="value == min"
        ></small-icon>
      </div>
    </div>
  </div>
</div>
