$DARK-RED: #f87070;
$LIGHT-BLUE: #70f3f8;
$LIGHT-PURPLE: #d881f8;
$LIGHT-GRAY-BLUE: #d7e0ff;
$DARK-NAVY: #1e213f;
$WHITE: #ffffff;
$OFF-WHITE: #eff1fa;
$VERY-DARK-NAVY: #161932;

$MD_BREAKPOINT: 48rem; // 768px
$LG_BREAKPOINT: 60rem; // 960px
