// Import mixins from abstracts directory
@use "abstracts/mixins" as *;

// Import variables from abstracts directory
@use "abstracts/variables" as *;

// Heading 1 styles
.h1 {
  font-size: 6.25rem; // 100px
  line-height: 1.2;
  letter-spacing: -5px;
  font-weight: 700; // Bold
}

// Heading 2 styles
.h2 {
  font-size: 1.75rem; // 28px
  font-weight: 700; // Bold
  line-height: 1.2;
}

// Heading 3 styles
.h3 {
  font-size: 1rem; // 16px
  font-weight: 700; // Bold
  letter-spacing: 15px;
  text-transform: uppercase;
}

// Heading 4 styles
.h4 {
  font-size: 0.8125rem; // 13px
  font-weight: 700; // Bold
  letter-spacing: 5px;
  text-transform: uppercase;
}

// Body text 1 styles
.body-1 {
  font-size: 0.875rem; //14px
  font-weight: 700; // Bold
  line-height: 1.28;
}

// Body text 2 styles
.body-2 {
  font-size: 0.75rem; // 12px
  font-weight: 700; // Bold
  line-height: 1.16;
}

// Responsive styles for small devices
@include sm() {
  .h1 {
    font-size: 4rem; // 100px -> 64px
  }
  .h2 {
    font-size: 1.75rem; // 28px -> 20px
  }
  .h3 {
    font-size: 0.8125rem; // 16px -> 13px
  }
  .h4 {
    font-size: 0.6875rem; // 13px -> 11px
  }
  .body-1 {
    font-size: 0.875rem; // 14px -> 12px
  }
}

.text-dark-navy {
  color: $DARK-NAVY;
}

.text-very-dark-navy {
  color: $VERY-DARK-NAVY;
}

.text-light-gray-blue {
  color: $LIGHT-GRAY-BLUE;
}
